# {{ name }}

## Options
| Name | Image | Description | Links |
| - | - | - | - |
{% for choice in choices_per_layout -%}
| {{ choice.name }} | ![]({{ choice.image }}) | {{ choice.description }} | {% for link in choice.links%} [Link]({{link}}) {% endfor %} |
{% endfor %}
